/* Importando o Root. O Root é uma Arquivo de Cores que foram Pré-Configuradas */
@import url(root.css);

:root {
    --tamanho_fonts: 0.8vw;
    --tamanho_font_user: 1vw;
    --tamanho_font_navbar: 1vw;
    --tamanho_icons_header: 2.5vw;
    --tamanho_icons_header_userC: 1.5vw;
    --tamanho_header: 6vw;
    --tamanho_header_top: 4vw;
    --tamanho_header_bot: 2vw;

    --tamanho_font_config_s1: 1.4vw;
    --tamanho_font_config_s2: 1vw;
    --tamanho_font_config_s3: 0.8vw;
    --tamanho_icon_config_s1: 1.6vw;
    --tamanho_icon_config_s2: 1.4vw;
    --tamanho_icon_config_s3: 1.2vw;
    --tamanho_icon_config_s4: 0.8vw;

    --tamanho_icon_config_png: 1.2vw;
}

/* Coisas no Cabeçalho */

header {
    background-color: #ffffff;
    /* backdrop-filter: blur(0.2vw); */
    width: 100%;
    /* height: Tamanho do Cabeçalho */
    height: var(--tamanho_header);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    transition: top 0.3s;
    top: 0;
    left: 0;
    z-index: 800;
    border: none;
    border-bottom: var(--color-cinza_hover_bg_light) solid 0.2vw;
}

/* Parte de Cima do Header */
.header_top {
    width: 100%;
    height: var(--tamanho_header_top);
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Parte Esquerda */

.left_div {
    background-color: transparent;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.logo_div {
    background-color: transparent;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-left: 2vw;
}

.logoImg_imgDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header_logo_img {
    width: 3vw;
}

/* Parte Direita */

.right_div {
    background-color: transparent;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

.user_div {
    background-color: transparent;
    width: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    position: relative;
    margin-right: 2vw;
    box-sizing: border-box;
    gap: 0.5vw;
    padding: 0.2vw;
    border-radius: 0.5vw;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.user_div:hover {
    background-color: var(--color-cinza_hover_bg_light);
}

.user_div:hover #user_svg {
    background-color: var(--color-azul-medio);
}

#user_svg {
    width: var(--tamanho_icons_header);
    height: auto;
    padding: 0.4vw;
    background-color: var(--color-vermelho-medio);
    border: none;
    border-radius: 0.5vw;
    transition: 0.3s ease-in-out;
}

#user_svg path {
    fill: #ffffff;
}

#user_name_t {
    background-color: transparent;
    font-size: var(--tamanho_font_user);
    color: #000000;
    font-weight: 600;
    text-align: right;
    white-space: nowrap;
    margin: 0;
}

/* Parte de Baixo do Header */
.header_bot {
    width: 100%;
    height: var(--tamanho_header_bot);
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar {
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2vw;
}

.nav_list {
    list-style: none;
    gap: 2vw;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
}

.nav_list li {
    padding-left: 0.4vw;
    padding-right: 0.4vw;
    font-size: var(--tamanho_font_navbar);
    color: #000000;
    font-weight: 500;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.nav_list li::before {
    content: "";
    position: absolute;
    bottom: -0.5vw;
    left: 50%;
    width: 100%;
    height: 0.2vw;
    background-color: var(--color-vermelho-medio);
    border-radius: 1vw;
    transform: translateX(-50%) scaleX(0);
    transition: transform 0.2s ease-in-out;
}

.nav_list li:hover::before,
.nav_list li[aria-selected="true"]::before {
    transform: translateX(-50%) scaleX(1); 
}


/* Tooltip's */

.tooltip_user_hide {
    display: none;
}

.tooltip {
    opacity: 0;
    background-color: var(--color-azul-medio);
    font-size: 0.8vw;
    color: #fff;
    text-align: center;
    border-radius: 0.2vw;
    padding: 0.2vw;
    position: absolute;
    top: 30%;
    left: 0%;
    transform: translateX(0%) translateY(0%) scale(1); /* Ajusta a posição horizontal e vertical - Altera a Escala*/
    white-space: nowrap;
    z-index: -900; /* Z-index Negativo, até passar o mouse */
    transition: opacity 0.3s ease, transform 0.3s ease;
    cursor: default;
}

/* Tooltip da Logo */
.logo_div:hover #tooltip_logo {
    z-index: 900;
    opacity: 1;
    transform: translateX(70%) translateY(0%) scale(1);
}

/* Tooltip do Usuario */
.user_div:hover .tooltip_user {
    z-index: 900;
    opacity: 1;
    transform: translateX(-110%) translateY(0%) scale(1);
}

/* ------------------- Container do Perfil */

.user_container {
    position: absolute;
    bottom: -100%;
    right: -20vw;
    transform: translateY(0%);
    background-color: var(--color-fundo-claro);
    border: 0.2vw solid var(--color-vermelho-medio);
    border-radius: 0.4vw;
    padding: 0.4vw 0.6vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user_container::after {
    content: '';
    position: absolute;
    top: -0.5vw;
    right: .8vw;
    transform: translateX(0%);
    border-left: 0.5vw solid transparent;
    border-right: 0.5vw solid transparent;
    border-bottom: 0.5vw solid var(--color-vermelho-medio);
}
.user_container_active {
    right: 2vw;
}
.userC_list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.4vw;
}
.userC_list li {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 0.5vw;
    padding: 0.4vw 0.6vw;
    border: none;
    border-radius: 0.4vw;
    transition: all .3s ease-in-out;
    background-color: transparent;
    cursor: pointer;
    position: relative;
}
.userC_list_item::after {
    content: "";
    position: absolute;
    bottom: -7.5%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 0.05vw;
    background-color: var(--color-cinza);
    border: none;
    border-radius: 0.5vw;
}
.userC_list_item:last-child::after {
    display: none;
}
.userC_list li:hover {
    background-color: var(--color-cinza_hover_bg_light);
}
.userC_list li ion-icon {
    font-size: var(--tamanho_icons_header_userC);
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;
}
.userC_list li p {
    font-size: var(--tamanho_font_navbar);
    color: #000000;
    font-weight: 600;
    text-align: center;
    height: auto;
}
.userC_list hr {
    width: 100%;
    height: 0.05vw;
    background-color: var(--color-cinza);
    border: none;
    border-radius: 0.5vw;
}

.userC_list li:hover #header_icon_settings {
    transform: rotate(90deg);
}
#header_icon_leave {
    transform: rotate(180deg);
}
.userC_list li:hover #header_icon_leave {
    transform: rotate(0deg);
}

/* ------------------- Configurações */

.config_overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--color-fundo-overlay);
    z-index: 850;
    overflow: hidden;
}

.ovConfig_container {
    background-color: var(--color-fundo-claro);
    width: 50vw;
    height: 30vw;
    border: none;
    border-radius: 0.6vw;
    padding: 1vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0%;
    transition: margin-top 0.3s ease-in-out;
    gap: 0.4vw;
}
.ovConfig_container_active {
    margin-top: 0%; 
}

/* Parte Superior */

.ovConfigC_top {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ovConfigC_top h1 {
    font-size: var(--tamanho_font_config_s1);
    color: #000000;
    font-weight: 700;
    text-align: left;
}

.fecharOverlay_config {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5vw;
    color: #000000;
    font-size: var(--tamanho_icon_config_s1);
    border: none;
    border-radius: 50%;
    background-color: transparent;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.fecharOverlay_config:hover {
    background-color: var(--color-cinza_hover_bg_light);
}

/* Linha */

.ovConfig_container hr {
    width: 100%;
    height: 0.1vw;
    background-color: var(--color-cinza);
    /* background-color: #000000; */
    opacity: 0.7;
    border: none;
    border-radius: 0.5vw;
}

/* Parte Inferior */

.ovConfigC_bot {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Parte Inferior Esquerda*/

.ovConfigC_bot_left {
    padding: 0.5vw;
    padding-right: 0vw;
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;

}

.confOptions_list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.4vw;
}

.confOptions_btn {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0.4vw 0.6vw;
    gap: 0.5vw;
    transition: all .3s ease-in-out;
    cursor: pointer;
    border: none;
    border-radius: 0.2vw;
}
.confOptions_btn:hover {
    background-color: var(--color-cinza_hover_bg_light);
}
.confOptions_btn_select {
    background-color: var(--color-cinza_hover_bg_light);
}

.confOptions_btn ion-icon {
    font-size: var(--tamanho_icon_config_s2);
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confOptions_btn p {
    font-size: var(--tamanho_font_config_s2);
    color: #000000;
    font-weight: 600;
    text-align: left;
}

/* Parte Inferior Direita*/

.ovConfigC_bot_right {
    padding: 0.5vw;
    padding-left: 0vw;
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.confOptions_container {
    padding: 0vw;
    padding-left: 2vw;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.confOptions_sec {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.confOptions_sec_active {
    display: flex;
}

/* Configurações | GERAL */

.confSec_categGeral_option {
    position: relative;
    width: 100%;
    height: auto;
    padding: 0.4vw 0.6vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5vw;
}
.confSec_categGeral_option:first-child {
    margin-top: 1vw;
}

.confSec_categGeral_title {
    font-size: var(--tamanho_font_config_s2);
    color: #000000;
    font-weight: 600;
    text-align: left;
}
.confSec_categGeral_atual {
    font-size: var(--tamanho_font_config_s3);
    color: #000000;
    font-weight: 600;
    text-align: left;
}
/* Flag */
.langAtual_Flag {
    width: 1.4vw;
    height: auto;
}
/* Icon */
.temaAtual_Icon {
    font-size: var(--tamanho_icon_config_s3);
    padding: 0 0.1vw;
    color: #000000;
}

.confOptions_secOption_btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0.6vw 0.8vw;
    border: none;
    border-radius: 0.3vw;
    gap: 0.5vw;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.confOptions_secOption_btn:hover {
    background-color: var(--color-cinza_hover_bg_light);
}
.confSec_icon_arrow {
    transform: rotate(0deg);
    transition: all .3s ease-in-out;
    font-size: var(--tamanho_icon_config_s4);
    color: #000000;
}
.confSec_icon_arrow_active {
    transform: rotate(-180deg);
    animation: rotateArrow_downs .3s normal backwards;
}
@keyframes rotateArrow_downs {
    from { transform: rotate(0deg); }
    to { transform: rotate(-180deg); }
}

.options_list {
    background-color: var(--color-fundo-claro);
    position: absolute;
    top: 0%;
    left: 100%;
    border: 0.2vw solid var(--color-vermelho-medio);
    border-radius: 0.3vw;
    padding: 0vw 0.4vw;
    white-space: nowrap;
    z-index: 851;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.6vw;
    width: auto;
    height: auto;
}
/* Margem no primeiro item */
.options_list li:first-of-type {
    margin-top: 0.4vw;
}
/* Margem no último item */
.options_list li:last-of-type {
    margin-bottom: 0.4vw;
}
.options_list_active {
    display: flex;
}
/* Sumario dos Idiomas */
.langOptionsList_sum {
    background-color: var(--color-fundo-claro);
    position: absolute;
    top: 0%;
    right: 0;
    transform: translateY(-100%);
    border: 0.2vw solid var(--color-vermelho-medio);
    border-radius: 0.3vw;
    padding: 0.4vw 0.6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
    width: 100%;
}
.langOptionsList_sum p {
    font-size: var(--tamanho_font_config_s3);
    color: #000000;
    font-weight: 600;
    text-align: left;
    text-wrap: pretty;
}
.langBotTalkSum {
    width: 1.6vw;
    height: auto;
}

/* Qualquer opção das Listas de: Idioma e Tema */
.options_list_i {
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    align-items: center;
    gap: 0.5vw;
    padding: 0.4vw 0.4vw;
    border-radius: 0.3vw;
    border: none;
    width: auto;
    transition: all .3s ease-in-out;
    cursor: pointer;
    width: 100%;
    height: auto;
    position: relative;
}
.options_list_i:hover {
    background-color: var(--color-cinza_hover_bg_light);
}

/* Apenas para os Idioma */
.optionsList_botTalk_div {
    position: absolute;
    top: 0%;
    left: -0.2vw;
    flex-shrink: 0; /* Evita que os itens encolham */
}
.botTalk {
    width: 1vw;
    height: auto;
    display: none;
}
.botTalk_Yes {
    display: flex;
}

.optionsList_temaIcon_div {
    height: 100%;
    justify-self: flex-start;
    flex-shrink: 0;
}
.langFlag {
    width: 1.6vw;
    height: auto;
}

/* Apenas para os Tema */

.optionsList_temaIcon_div {
    height: 100%;
    justify-self: flex-start;
    flex-shrink: 0;
}
.temaIcon {
    font-size: var(--tamanho_icon_config_s3);
    color: #000000;
}

/* Tem em todos */

.optionsList_p_div {
    width: auto;
    height: 100%;
    justify-self: flex-start;
    flex-shrink: 0;
}
.optionsList_p_div p {
    font-size: var(--tamanho_font_config_s3);
    color: #000000;
    font-weight: 600;
    text-align: left;
    text-wrap: nowrap;
}

/* Check para Todos */
.optionsList_check_div {
    height: 100%;
    flex-shrink: 0;
    margin-left: auto;
}

.check_icon {
    visibility: hidden;
    font-size: var(--tamanho_icon_config_s2);
    color: #000000;
}

.check_icon_active_lang {
    visibility: visible;
}
.check_icon_active_tema {
    visibility: visible;
}

/* Configurações | FALA */

.inProductionAlert {
    width: 100%;
    height: auto;
    padding: 2vw;
    color: var(--color-vermelho-main);
    font-size: 2vw;
    text-align: center;
}

/* Configurações | PERFIL */

.confSec_categProfile_option {
    position: relative;
    width: 100%;
    height: auto;
    padding: 0.4vw 0.6vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5vw;
}
.confSec_categProfile_option:first-child {
    margin-top: 1vw;
}

.confSec_categProfile_title {
    font-size: var(--tamanho_font_config_s2);
    color: #000000;
    font-weight: 600;
    text-align: left;
}

.confSec_categProfile_option ion-icon {
    font-size: var(--tamanho_icon_config_s2);
    color: #000000;
}

/* Botao de Sair */
.secOption_btn_danger {
    background-color: var(--color-vermelho-main);
    margin-left: auto;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.secOption_btn_danger:hover {
    background-color: var(--color-vermelho-medio);
}
.secOption_btn_danger p {
    color: #ffffff;
}
#confOptions_sec-leave {
    color: #ffffff;
    transform: rotate(180deg);
    transition: all .3s ease-in-out;
}
.secOption_btn_danger:hover #confOptions_sec-leave {
    transform: rotate(0deg);
}