/* Importando o Root. O Root é uma Arquivo de Cores que foram Pré-Configuradas */
@import url(root.css);

:root {
    --tamanho_fonts: 0.8vw;
    --tamanho_font_user: 1vw;
    --tamanho_font_navbar: 1vw;
    --tamanho_icons_header: 2.5vw;
    --tamanho_icons_header_userC: 1.5vw;
    --tamanho_header: 6vw;
    --tamanho_header_top: 4vw;
    --tamanho_header_bot: 2vw;
}

/* Coisas no Cabeçalho */

header {
    background-color: #ffffff;
    /* backdrop-filter: blur(0.2vw); */
    width: 100%;
    /* height: Tamanho do Cabeçalho */
    height: var(--tamanho_header);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    transition: top 0.3s;
    top: 0;
    left: 0;
    z-index: 800;
    border: none;
    border-bottom: var(--color-cinza_hover_bg_light) solid 0.2vw;
}

/* Parte de Cima do Header */
.header_top {
    width: 100%;
    height: var(--tamanho_header_top);
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Parte Esquerda */

.left_div {
    background-color: transparent;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.logo_div {
    background-color: transparent;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-left: 2vw;
}

.logoImg_imgDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header_logo_img {
    width: 3vw;
}

/* Parte Direita */

.right_div {
    background-color: transparent;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

.user_div {
    background-color: transparent;
    width: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    position: relative;
    margin-right: 2vw;
    box-sizing: border-box;
    gap: 0.5vw;
    padding: 0.2vw;
    border-radius: 0.5vw;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.user_div:hover {
    background-color: var(--color-cinza_hover_bg_light);
}

.user_div:hover #user_svg {
    background-color: var(--color-azul-medio);
}

#user_svg {
    width: var(--tamanho_icons_header);
    height: auto;
    padding: 0.4vw;
    background-color: var(--color-vermelho-medio);
    border: none;
    border-radius: 0.5vw;
    transition: 0.3s ease-in-out;
}

#user_svg path {
    fill: #ffffff;
}

#user_name_t {
    background-color: transparent;
    font-size: var(--tamanho_font_user);
    color: #000000;
    font-weight: 600;
    text-align: right;
    white-space: nowrap;
    margin: 0;
}

/* Parte de Baixo do Header */
.header_bot {
    width: 100%;
    height: var(--tamanho_header_bot);
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar {
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2vw;
}

.nav_list {
    list-style: none;
    gap: 2vw;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
}

.nav_list li {
    padding-left: 0.4vw;
    padding-right: 0.4vw;
    font-size: var(--tamanho_font_navbar);
    color: #000000;
    font-weight: 500;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.nav_list li::before {
    content: "";
    position: absolute;
    bottom: -0.5vw;
    left: 50%;
    width: 100%;
    height: 0.2vw;
    background-color: var(--color-vermelho-medio);
    border-radius: 1vw;
    transform: translateX(-50%) scaleX(0);
    transition: transform 0.2s ease-in-out;
}

.nav_list li:hover::before,
.nav_list li[aria-selected="true"]::before {
    transform: translateX(-50%) scaleX(1); 
}


/* Tooltip's */

.tooltip_user_hide {
    display: none;
}

.tooltip {
    opacity: 0;
    background-color: var(--color-azul-medio);
    font-size: 0.8vw;
    color: #fff;
    text-align: center;
    border-radius: 0.2vw;
    padding: 0.2vw;
    position: absolute;
    top: 30%;
    left: 0%;
    transform: translateX(0%) translateY(0%) scale(1); /* Ajusta a posição horizontal e vertical - Altera a Escala*/
    white-space: nowrap;
    z-index: -900; /* Z-index Negativo, até passar o mouse */
    transition: opacity 0.3s ease, transform 0.3s ease;
    cursor: default;
}

/* Tooltip da Logo */
.logo_div:hover #tooltip_logo {
    z-index: 900;
    opacity: 1;
    transform: translateX(70%) translateY(0%) scale(1);
}

/* Tooltip do Usuario */
.user_div:hover .tooltip_user {
    z-index: 900;
    opacity: 1;
    transform: translateX(-110%) translateY(0%) scale(1);
}

/* ------------------- Container do Perfil */

.user_container {
    position: absolute;
    bottom: -100%;
    right: -20vw;
    transform: translateY(0%);
    background-color: var(--color-fundo-claro);
    border: 0.2vw solid var(--color-vermelho-medio);
    border-radius: 0.4vw;
    padding: 0.4vw 0.6vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user_container::after {
    content: '';
    position: absolute;
    top: -0.5vw;
    right: .8vw;
    transform: translateX(0%);
    border-left: 0.5vw solid transparent;
    border-right: 0.5vw solid transparent;
    border-bottom: 0.5vw solid var(--color-vermelho-medio);
}
.user_container_active {
    right: 2vw;
}
.userC_list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.4vw;
}
.userC_list li {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 0.5vw;
    padding: 0.4vw 0.6vw;
    border: none;
    border-radius: 0.4vw;
    transition: all .3s ease-in-out;
    background-color: transparent;
    cursor: pointer;
}
.userC_list li:hover {
    background-color: var(--color-cinza_hover_bg_light);
}
.userC_list li ion-icon {
    font-size: var(--tamanho_icons_header_userC);
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.userC_list li p {
    font-size: var(--tamanho_font_navbar);
    color: #000000;
    font-weight: 600;
    text-align: center;
    height: auto;
}

/* ------------------- Configurações */

.config_overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--color-fundo-overlay);
    z-index: 4000;
    overflow: hidden;
}

.fecharOverlay_config {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5vw;
    color: #ffffff;
    font-size: 1.2vw;
    border: none;
    border-radius: 50%;
    background-color: var(--color-vermelho-medio);
    transition: all .3s ease-in-out;
    cursor: pointer;
    position: absolute;
    top: -1vw;
    right: -1vw;
}
.fecharOverlay_config:hover {
    background-color: var(--color-azul-medio);
}

.ovConfig_container {
    background-color: var(--color-fundo-claro);
    width: 50vw;
    height: 30vw;
    border: none;
    border-radius: 0.6vw;
    padding: 1vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 0%;
    transition: margin-top 0.3s ease-in-out;
}
.ovConfig_container_active {
    margin-top: 0%; 
}