/* Importando o Root. O Root é uma Arquivo de Cores que foram Pré-Configuradas */
@import url(root.css);

/* Codigo Principal */

body {
    overflow-x: hidden;
}

main {
    /* margin-top: MESMO tamanho da Header e Footer*/
    margin-top: 6vw;
    margin-bottom: 2vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

/* Barra de Carregamento */

.loading_container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
    gap: 2vw;
}

.barra_carregamento {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 20%;
    height: 2vw;
    background-color: #ffffff;
    overflow: hidden;
    border-radius: 0.4vw;
}

.barra_preenchida {
    height: 100%;
    width: 0%;
    background-color: var(--color-vermelho-medio);
    transition: width 0.5s linear ease-in-out;
}