/* Importando o Root. O Root é uma Arquivo de Cores que foram Pré-Configuradas */
@import url(root.css);

/* Codigo Principal */

body {
    overflow-x: hidden;
}

main {
    /* margin-top: MESMO tamanho da Header e Footer*/
    margin-top: 6vw;
    margin-bottom: 2vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

/* Balão de ir ao Topo*/

.bubble_goTop {
    position: fixed;
    bottom: 5vw;
    right: 1vw;
    padding: 0.5vw;
    border-radius: 50%;
    background-color: var(--color-vermelho-medio);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2vw;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateY(4vw);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    z-index: 798;
    opacity: 0;
    pointer-events: none;
}

.bubble_goTop:hover {
    background-color: var(--color-azul-medio);
}

.bubble_goTop.show {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
}

#tooltip_bubTop {
    position: absolute;
    opacity: 0;
    background-color: var(--color-azul-medio);
    font-size: 0.8vw;
    white-space: nowrap;
    top: 0;
    left: 0;
    transform: translateX(50%) translateY(-180%);
    padding: 0.4vw;
    border: none;
    border-radius: 0.5vw;
    transition: 0.3s ease-in-out;
}

.bubble_goTop:hover #tooltip_bubTop {
    transform: translateX(-75%) translateY(-180%);
    opacity: 1;
}

/* Balão de Mais abaixo*/

.bubble_moreAbove {
    position: fixed;    
    bottom: 5vw;
    left: 1vw;
    padding: 0.5vw;
    border-radius: 0.4vw;
    background-color: var(--color-vermelho-medio);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateY(4vw);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    z-index: 798;
    opacity: 0;
    pointer-events: none;
}

.bubble_moreAbove:hover {
    background-color: var(--color-azul-medio);
}

.bubble_moreAbove.show {
    opacity: 1;
    pointer-events: all;

    transform: translateY(0);
}

.bubble_moreAbove p {
    font-size: 0.8vw;
    color: #ffffff;
}
.bubble_moreAbove ion-icon {
    font-size: 0.8vw;
    color: #ffffff;
}

/* Barra de Carregamento */

.loading_container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
    gap: 2vw;
}

.barra_carregamento {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 20%;
    height: 2vw;
    background-color: #ffffff;
    overflow: hidden;
    border-radius: 0.4vw;
}

.barra_preenchida {
    height: 100%;
    width: 0%;
    background-color: var(--color-vermelho-medio);
    transition: width 0.5s linear ease-in-out;
}