/* Importando o Root. O Root é uma Arquivo de Cores que foram Pré-Configuradas */
@import url(root.css);

:root {
    --tamanho_icon_btn: 3vw;
}

/* Pré-feito uma Animação de Hover nos Links */

.link_hover_maisSobre {
    cursor: pointer;
    position: relative;
    transition: opacity 0.3s ease-in-out;
}

.link_hover_maisSobre:after {
    content: ""; /* Necessário para que o pseudo-elemento funcione */
    position: absolute;
    bottom: -0.1vw;
    left: 50%; /* Mantém o centro */
    width: 100%;
    height: 0.1vw;
    background-color: var(--color-fundo-claro);
    transform: translateX(-150%) scale(0); /* Começa com escala 0 */
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.container_maisSobre_right_g button:hover .link_hover_maisSobre:after {
    transform: translateX(-50%) scale(1);
    opacity: 1;
}

/* ------------------------- Tela de Inicio */

.inicio_container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: auto;
}

/* ------------------------- Banner de Apresentação */

.banner_apresent {
    box-sizing: border-box;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    width: 100%;
    min-height: 30vw;
    padding: 2vw;
    margin-bottom: 3vw;
}

#texto_banner_apresent_titulo {
    font-size: 2.4vw;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 32%;

    position: relative;

    background: radial-gradient(circle farthest-corner at center center, #E30613 25%, #9A1915 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

#texto_banner_apresent_titulo::selection {
    background: radial-gradient(circle farthest-corner at center center, #8d0258 25%, #15179a 100%);
    background: var(--color-azul-medio_selecionado);
    color: var(--color-fundo-claro);
}


#banner_logo_img {
    width: 12vw;
    cursor: pointer;
}

#texto_banner_apresent_titulo_desc {
    font-size: 1.2vw;
    line-height: 1.5;
    font-weight: bold;
    text-align: center;
    color: #000000;
    margin: 0;
    padding: 0;
    width: 40%;
}

#botao_banner_exp {
    background-color: var(--color-vermelho-medio);
    color: #ffffff;
    font-size: 1.4vw;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0.8vw;
    padding-right: 1.6vw;
    padding-left: 1.6vw;
    border: none;
    border-radius: 0.2vw;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

#botao_banner_exp:hover {
    background-color: var(--color-azul-medio);
    color: #ffffff;
}

/* ------------------------- Banner de Vantagens da Conta */

.banner_vantConta {
    background-color: transparent;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3vw;
}

/* 
#wave_up_svg {
    width: 100%;
    height: 100%;
    display: block;
}

#wave_up_svg path {
    fill: var(--color-azul-medio);
}

#wave_down_svg {
    width: 100%;
    height: 100%;
    display: block;
}

#wave_down_svg path {
    fill: var(--color-azul-medio);
} 
*/

.container_vantConta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: var(--color-azul-medio);
    border: none;
    border-radius: 1.2vw;
    width: 90%;
    height: 100%;
    gap: 5vw;
    padding: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
}

.div_titulo_vantConta {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_titulo_vantConta h1 {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-weight: 600;
    text-align: left;
    font-size: 1.6vw;
    line-height: 1.5;
    width: 100%;
    height: 100%;
    word-wrap: normal;
    background-color: transparent;
}

.div_buttons_vantConta {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2vw;
}

.btn_vantConta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: transparent;
    border: none;
    border-radius: 0.6vw;
    gap: 0.5vw;
    padding: 0.6vw;
    padding-left: 1.6vw;
    padding-right: 1.6vw;
    cursor: pointer;
    transition: 0.3s;
}

.btn_vantConta:hover {
    background-color: var(--color-vermelho-medio);
}

.btn_vantConta p {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    font-size: 1.4vw;
}

#user_criar_svg {
    width: var(--tamanho_icon_btn);
    height: auto;
    background-color: transparent;
}

#user_entrar_svg {
    width: var(--tamanho_icon_btn);
    height: auto;
    background-color: transparent;
}

#user_criar_svg path, #user_entrar_svg path {
    fill: #ffffff;
}

/* ------------------------- Banner de Mais Sobre */

.banner_maisSobre {
    box-sizing: border-box;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0vw;
    width: 100%;
    min-height: 30vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    margin-bottom: 3vw;
}

.container_maisSobre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-vermelho-medio);
    border: none;
    border-radius: 0vw;
    width: 100%;
    height: 100%;
    gap: 5vw;
    padding: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
    z-index: 30;
}

#wave_up_maisSobre_svg, #wave_down_maisSobre_svg {
    width: 100%;
    height: 100%;
    display: block;
    margin-bottom: -2vw;
    z-index: 29;
}

#wave_up_maisSobre_svg path, #wave_down_maisSobre_svg path {
    fill: var(--color-vermelho-medio);
}

.container_maisSobre_g {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: transparent;
    width: 90%;
    gap: 2vw;
    padding: 1vw;
}

.container_maisSobre_left_g {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: transparent;
    width: 50%;
}

.container_maisSobre_left_g img {
    width: 12vw;
    height: auto;
}

.container_maisSobre_right_g {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: transparent;
    width: 50%;
    gap: 2vw;
}

.container_maisSobre_right_g h1 {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-weight: 600;
    text-align: left;
    font-size: 1.6vw;
    background-color: transparent;
    width: 75%;
}

.div_btn_maisSobre {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    background-color: transparent;
    width: 100%;
}

.container_maisSobre_right_g button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    background-color: transparent;
    border: none;
    gap: 1vw;
    overflow: hidden;
    cursor: pointer;
}

.container_maisSobre_right_g button ion-icon {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-weight: 600;
    text-align: left;
    font-size: 1.6vw;
    background-color: transparent;
    margin-left: -2vw;
    transition: 0.3s ease-in-out;
}

.container_maisSobre_right_g button:hover ion-icon {
    margin-left: 0vw;
}

.container_maisSobre_right_g button p {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-weight: 600;
    text-align: left;
    font-size: 1vw;
    background-color: transparent;
}

/* ------------------------- Banner de Mais sobre a IA-RE */

.banner_maisIARE {
    box-sizing: border-box;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0vw;
    width: 100%;
    min-height: 30vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    margin-bottom: 3vw;
}

.container_maisIARE {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    border: none;
    border-radius: 0vw;
    width: 100%;
    height: 100%;
    gap: 0vw;
    padding: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
    z-index: 40;
}

.container_maisIARE #texto_maisIARE_titulo {
    margin: 0;
    padding: 0;
    color: #000000;
    font-weight: bold;
    text-align: center;
    font-size: 1.6vw;
    margin-bottom: 1vw;
}

.container_maisIARE #texto_maisIARE_desc {
    margin: 0;
    padding: 0;
    color: #000000;
    font-weight: bold;
    text-align: center;
    font-size: 1.2vw;
}

.maisIARE_blocoNotas {
    background-color: transparent;
    width: 100%;
    height: auto;
    padding: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    position: relative;
}

.maisIARE_blocoNotas_inside {
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1vw;
    position: relative;
    transition: align-items .3s ease-in-out;
}

.maisIARE_blocoNotas_cat {
    background-color: transparent;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    z-index: 43;
    position: absolute;
    top: 0;
    left: 0;
}

.maisIARE_blocoNotas_cat_title {
    background-color: var(--color-vermelho-medio);
    width: 15%;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border: none;
    border-radius: 0.5vw 0.5vw 0vw 0vw;
    padding: 0.6vw;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    z-index: 43;
}
.maisIARE_blocoNotas_cat_title:hover {
    background-color: var(--color-azul-medio);
    height: 6vw;
    border-radius: 0.5vw;
    padding-top: 4vw;
}
.categ_select_tit {
    height: 6vw;
    border-radius: 0.5vw;
    z-index: 44;
    padding-top: 4vw;
}

.maisIARE_blocoNotas_cat_title h1 {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    font-size: 1.2vw;
}

.maisIARE_blocoNotas_txt {
    background-color: purple;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 41;
    position: absolute;
    top: 150%;
    left: 0;
    background-color: var(--color-fundo-claro);
    border: 0.4vw var(--color-vermelho-medio) solid;
    border-radius: 0.5vw;
    box-sizing: border-box;
}

.maisIARE_blocoNotas_box {
    display: none;
    width: 100%;
    height: 100%;
    border: 0.4vw transparent solid;
    border-radius: 0.5vw;
    margin-top: 2.5vw;
    z-index: 41;
}
.categ_select_box {
    display: flex;
    z-index: 42;
}

.maisIARE_blocoNotas_box p {
    margin: 0;
    padding: 0;
    color: #000000;
    font-weight: 600;
    width: 100%;
    text-align: left;
    font-size: 1.2vw;
    letter-spacing: 1.5;
    text-wrap: pretty;
    padding: 1vw;
}
#blocoNotas-categoria-box-nenhuma {
    margin-top: 2vw;
    margin-bottom: 1vw;
}
#blocoNotas-categoria-box-nenhuma p {
    text-align: center;
}

/* Tooltip que avisa do click */

.tp_blocoNotas_clickExpand {
    opacity: 0;
    position: absolute;
    background-color: var(--color-azul-medio);
    color: #ffffff;
    font-size: 1.2vw;
    font-weight: 600;
    padding: 0.4vw;
    border-radius: 0.2vw;
    z-index: -1;
    top: -100%;
    right: 0%;
    transform: translateX(0%);
    white-space: nowrap;
    transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.tp_blocoNotas_clickExpand::after {
    content: '';
    position: absolute;
    bottom: -20%;
    right: 10%;
    transform: translateX(0%);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid var(--color-azul-medio);
}

/* Tooltip aparece quando o mouse está sobre qualquer título de categoria */
.tp_blocoNotas_clickExpand_active {
    opacity: 1;
    z-index: 900;
    top: -150%;
    transform: translateX(0%);
}