/* Importando o Root. O Root é uma Arquivo de Cores que foram Pré-Configuradas */
@import url(root.css);

:root {
    --tamanho_textoSobre_s1: 1.6vw;
    --tamanho_textoSobre_s2: 1.4vw;
    --tamanho_textoSobre_s3: 1.2vw;
    --tamanho_textoSobre_s4: 1vw;
    --tamanho_icone_social: 1.4vw;
}

/* ------------------------- Tela de Sobre */

.sobre_container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 1vw;
}

/* ------------------------- Sobres */

.div_text_sobre {
    background-color: transparent;
    padding: 2vw 1vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1vw;
}

.div_text_sobre h1 {
    font-size: var(--tamanho_textoSobre_s1);
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    line-height: 1;
    text-wrap: wrap;
    width: 30%;
    background-color: var(--color_tema-fundo_1);
    padding: 1vw;
    border: none;
    border-radius: 0.4vw;
}

.div_text_sobre p {
    font-size: var(--tamanho_textoSobre_s4);
    color: var(--color_tema-text_1);
    text-align: left;
    font-weight: 600;
    line-height: 1.5;
    text-wrap: wrap;
    width: 100%;
    padding-left: 1vw;
}

/* ------------------------- Sobres */

.div_membros_container {
    background-color: transparent;
    padding: 1vw;
    margin-bottom: 2vw;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4vw;
}

.div_membros_container #texto_sobre_nossaEquipeProjeto {
    font-size: var(--tamanho_textoSobre_s1);
    color: var(--color_tema-text_1);
    text-align: center;
    font-weight: bold;
    width: 100%;
}

.membros_superior {
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0.4vw;
    position: relative;
    overflow: visible;
}

.membros_sec {
    background-color: transparent;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vw;
    padding: 1vw;
    border: none;
    border-radius: 0.4vw;
    transition: all .3s ease-in-out;
    cursor: pointer;
    position: relative;
}
.membros_sec:hover {
    background-color: var(--color-cinza_hover_bg_light);
}
.devMemb_icons_div {
    position: absolute;
    top: -10%;
    right: 0;
    width: 100%;
    height: auto;
    background-color: transparent;
    padding: 0vw 1vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5vw;
}
.devMemb_icons_item {
    background-color: #ffffff;
    width: 2.6vw;
    height: auto;
    padding: 0.2vw;
    border: none;
    border-radius: 0.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.membroSec_imgDiv {
    border: var(--color_tema-fundo_1) 0.3vw solid;
    border-radius: 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.membroSec_imgDiv img {
    width: 12vw;
    height: auto;
    border-radius: 0.2vw;
    object-fit: cover;
}

.membroSec_textoDiv #memberName_subfName {
    font-size: var(--tamanho_textoSobre_s4);
    color: var(--color_tema-text_1);
    text-align: center;
    font-weight: 500;
    text-wrap: wrap;
}

.membroSec_textoDiv #memberName_prefName {
    font-size: var(--tamanho_textoSobre_s4);
    color: var(--color_tema-text_1);
    text-align: center;
    font-weight: bold;
    text-wrap: wrap;
}

.membros_inferior {
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0.4vw;
    position: relative;
    overflow: visible;
}

.membroTodos_imgDiv {
    border: var(--color_tema-fundo_1) 0.3vw solid;
    border-radius: 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.membroTodos_imgDiv img {
    width: 60vw;
    height: 30vw;
    object-fit: fill;
    border: none;
    border-radius: 0.2vw;
}

/* ------------------------- Overlay do Membor */

.membro_overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--color-fundo-overlay);
    z-index: 850;
    overflow: hidden;
}

.fecharOverlay_membro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5vw;
    color: #ffffff;
    font-size: 1.2vw;
    border: none;
    border-radius: 50%;
    background-color: var(--color_tema-btn-bg_1);
    transition: all .3s ease-in-out;
    cursor: pointer;
    position: absolute;
    top: -1vw;
    right: -1vw;
}
.fecharOverlay_membro:hover {
    background-color: var(--color_tema-btn-bg_2);
}

.ovMembro_container {
    background-color: var(--color_tema-fundo-tema);
    width: 80vw;
    height: 40vw;
    border: none;
    border-radius: 0.6vw;
    padding: 1vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: -100%;
    transition: margin-bottom 0.3s ease-in-out;
}
.ovMembro_container_active {
    animation: upOverlayContainer 0.5s forwards ease-in-out;
    margin-bottom: 0%; 
}
@keyframes upOverlayContainer {
    from { margin-bottom: -100%; }
    to { margin-bottom: 0%; }
}

.ovMembroC_side {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: none;
}
.ovMembroC_left {
    width: 60%;
    justify-content: center;
    border: none;
    border-right: 0.1vw solid var(--color_tema-fundo_1);
}
.ovMembroC_right {
    width: 40%;
    justify-content: flex-start;
    border-left: 0.1vw solid var(--color_tema-fundo_1);
}

/* Parte Esquerda */

.membroOverlay_imgDiv {
    border: var(--color_tema-fundo_1) 0.3vw solid;
    border-radius: 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 1vw;
}

.membroOverlay_imgDiv img {
    width: 16vw;
    height: auto;
    object-fit: fill;
    border: none;
    border-radius: 0.2vw;
}

.ovMembroC_left .membroOverlay_membName {
    font-size: var(--tamanho_textoSobre_s1);
    color: var(--color_tema-text_1);
    text-align: center; 
    font-weight: bold;
    margin-bottom: 3vw;
}

.membroOverlay_socailContainer {
    background-color: transparent;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.ovMembroC_left h2 {
    font-size: var(--tamanho_textoSobre_s1);
    color: var(--color_tema-text_1);
    text-align: left; 
    font-weight: bold;
    margin-bottom: 1.5vw;
}

.membroOverlay_socialSection {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.5vw;
}

.social_icone {
    font-size: var(--tamanho_icone_social);
    color: var(--color_tema-text_1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6%;
    height: 100%;
}

.membroOverlay_socialName {
    font-size: var(--tamanho_textoSobre_s4);
    color: var(--color_tema-text_1);
    text-align: left; 
    font-weight: 700;
    padding-left: 0.4vw;
    width: 15%;
    height: 100%;
}

.rightArrowChar {
    font-size: var(--tamanho_icone_social);
    color: var(--color_tema-text_1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4%;
    height: 100%;
}

.membroOverlay_socialLink {
    text-decoration: underline;
    font-size: var(--tamanho_textoSobre_s4);
    color: var(--color_tema-btn-bg_alt);
    text-align: left; 
    font-weight: 600;
    padding-left: 0.4vw;
    width: 75%;
    height: 100%;
}

/* Parte Direita */

.ovMembroC_right h2 {
    font-size: var(--tamanho_textoSobre_s1);
    color: var(--color_tema-text_1);
    text-align: center; 
    font-weight: 700;
    width: 100%;
    height: auto;
    margin-top: 2vw;
    margin-bottom: 4vw;
}

.ovMembroC_right h3 {
    font-size: var(--tamanho_textoSobre_s2);
    color: var(--color_tema-text_1);
    text-align: left; 
    font-weight: 700;
    text-wrap: pretty;
    width: 90%;
    height: auto;
}

.ovMembroC_right ul {
    list-style: disc;
    text-align: left;
    font-weight: 700;
    width: 80%;
    height: auto;
    margin-top: 1vw;
    margin-bottom: 2vw;
}

.ovMembroC_right ul li {
    font-size: var(--tamanho_textoSobre_s4);
    color: var(--color_tema-text_1);
    text-align: left; 
    font-weight: 600;
    line-height: 1.5;
    text-wrap: pretty;
    margin-bottom: 0.4vw;
}
.ovMembroC_right ul li:last-child {
    margin-bottom: 0;
}

/* Tooltip que avisa do click */

.tp_members_clickExpand {
    opacity: 0;
    position: absolute;
    background-color: var(--color_tema-tooltip-bg);
    color: #ffffff;
    font-size: 1vw;
    font-weight: 600;
    text-align: right;
    padding: 0.4vw;
    border-radius: 0.2vw;
    z-index: -1;
    bottom: -40%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    transition: all .3s ease-in-out;
}
/* 
.tp_members_clickExpand::after {
    content: '';
    position: absolute;
    top: -15%;
    right: 10%;
    transform: translateX(0%);
    border-left: 0.6vw solid transparent;
    border-right: 0.6vw solid transparent;
    border-bottom: 0.6vw solid var(--color-azul-medio);
} */

/* Tooltip aparece quando o mouse está sobre qualquer título de categoria */
.tp_members_clickExpand_active {
    opacity: 1;
    z-index: 900;
    bottom: -15%;
}

/* Tooltip do Overlay dos Membros */
.tp_members_overlay {
    opacity: 0;
    position: absolute;
    background-color: var(--color_tema-tooltip-bg);
    color: #ffffff;
    font-size: var(--tamanho_textoSobre_s4);
    font-weight: 600;
    text-align: center;
    padding: 0.4vw;
    border-radius: 0.2vw;
    z-index: -1;
    bottom: -40%;
    left: 30%;
    white-space: nowrap;
    transition: all 0.3s ease-in-out
}

.tp_members_overlay::after {
    content: '';
    position: absolute;
    top: -15%;
    left: 10%;
    transform: translateX(-50%);
    border-left: 0.6vw solid transparent;
    border-right: 0.6vw solid transparent;
    border-bottom: 0.6vw solid var(--color_tema-tooltip-bg);
}

/* Tooltip aparece quando o mouse está sobre qualquer título de categoria */
.tp_members_overlay_active {
    opacity: 1;
    z-index: 900;
    bottom: -30%;
}

/* Pop-Up aviso do copiar email */

.popup_copyEmail {
    position: fixed;
    bottom: 10%; /* Ajuste a posição superior */
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-verde-sucesso);
    padding: 0.8vw 1vw;
    border-radius: 0.4vw;
    text-align: center;
    z-index: 900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4vw;
}

.popup_copyEmail p {
    color: white;
    font-size: var(--tamanho_textoSobre_s4);
    font-weight: 600;
}

.loading-bar {
    background-color: transparent;
    width: 0%;
    height: 0.3vw;
    width: 100%;
    border-radius: 0.2vw;
    overflow: hidden;
}

.loading {
    height: 100%;
    background-color: white;
    /* Os Segundos devem ser equivalente ao tempo do efeito de desaparecimento */
    transition: width 2s linear;
}