/* Importando o Root. O Root é uma Arquivo de Cores que foram Pré-Configuradas */
@import url(root.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-montserrat);
}

body {
    overflow-x: hidden;
    background-color: var(--color-fundo-claro);
}

main {
    /* margin-top: MESMO tamanho da Header e Footer*/
    margin-top: 6vw;
    margin-bottom: 2vw;
    /* min-height: 90vh; */
}

/* Altera a Cor ao Selecionar Texto/Coisas */

::-moz-selection { /* Codigo para Mozilla */
    background: var(--color-azul-medio_selecionado);
}

::selection {
    background: var(--color-azul-medio_selecionado);
}

/* Altera o estilo da ScrollBar */

/* Isso força a exibição das setas, caso sejam removidas pela customização */
::-webkit-scrollbar {
    width: 0.7vw;
    height: 0.7vw;
    transition: .3s ease-in-out;
}

/* Barra de rolagem com setas visíveis */
::-webkit-scrollbar-button {
    display: block;
    width: 0.4vw; /* Ajuste o tamanho das setas */
    height: 0.5vw; /* Ajuste o tamanho das setas */
}

/* Seta para rolar para cima (incremento) */
::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-left: 0.4vw solid transparent;
    border-right: 0.4vw solid transparent;
    border-bottom: 0.7vw solid var(--color-cinza);
    margin: 0;
}

/* Seta para rolar para baixo (decremento) */
::-webkit-scrollbar-button:single-button:vertical:increment {
    border-left: 0.4vw solid transparent;
    border-right: 0.4vw solid transparent;
    border-top: 0.7vw solid var(--color-cinza);
    margin: 0;
}

/* Seta para rolar para cima (incremento) */
::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    border-bottom: 0.7vw solid var(--color-azul-medio);
}
/* Seta para rolar para cima (incremento) */
::-webkit-scrollbar-button:single-button:vertical:increment:hover {
    border-top: 0.7vw solid var(--color-azul-medio);
}
  
/* Fundo */
::-webkit-scrollbar-track {
    background: var(--color-fundo-claro_var2);
    border-radius: 0.2vw;
}

/* Barra em si */
::-webkit-scrollbar-thumb {
    background: var(--color-cinza);
    border-radius: 0.2vw;
    border: solid transparent 0vw;
    cursor: pointer;
}

/* Barra com o mouse em cima */
::-webkit-scrollbar-thumb:hover {
    background: var(--color-azul-medio);
}

/* Configurações dos Temas */

