/* Importe da Fonte no CSS. Fonte: Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* Importando o Root. O Root é uma Arquivo de Cores que foram Pré-Configuradas */
:root {
    --font-montserrat: 'Montserrat';

    --color-full-black: #000000;
    --color-full-white: #ffffff;

    --color-fundo-claro: #FFFFFF;
    --color-fundo-claro_var2: #dedede;
    --color-fundo-claro_var3: #dedede;
    
    --color-fundo-escuro: #000E1D;

    --color_tema-fundo-tema: var(--color-fundo-claro);
    --color_tema-cinza-hover-bg: var(--color-cinza_hover_bg_light);
    --color_tema-fundo_1: var(--color-vermelho-medio);
    --color_tema-fundo_2: var(--color-azul-medio);

    --color_tema-text_1: var(--color-full-black);
    --color_tema-text_2: var(--color-full-white);
    --color_tema-text_c1: var(--color-azul-medio);
    --color_tema-text_c2: var(--color-azul-bruto);

    --color_tema-svg_1: var(--color-full-white);

    --color-fundo-overlay: #000000a3;

    --color-cinza_hover_bg_light: #8787873d;
    --color-cinza_hover_bg_dark: #98989835;

    --color_tema-tooltip-bg: var(--color-azul-medio);
    --color_tema-tp-text_1: var(--color-full-black);

    --color_tema-btn-bg_1: var(--color-vermelho-medio);
    --color_tema-btn-bg_2: var(--color-azul-medio);
    --color_tema-btn-bg_alt: var(--color-azul-bruto);

    --color-cinza_chat_bg_light: #8787872f;
    --color-azul-escuro_bg: #000E1D;
    --color-vermelho-forte_bg: #681413;


    --color-verde-sucesso_selecionado: #4CAF5060;
    --color-azul-medio_selecionado: #1c3a6660;
    --color-vermelho-medio_selecionado: #9A191560;

    --color-cinza: #878787;
    
    --color-vermelho-main: #E30613;
    --color-vermelho-medio: #9A1915;
    --color-vermelho-forte: #681413;

    --color-azul-escuro: #000E1D;
    --color-azul-medio: #1C3A66;
    --color-azul-claro: #28425E;

    --color-azul-bruto: #007bff;

    --color-amarelo-neon: #E6FF2A;
    --color-laranja-atomic: #EF8103;
    --color-verde-sucesso: #4CAF50;
}