<!DOCTYPE html>
<html lang="pt-BR">
{% load static %}
<head>
    <meta charset='utf-8'>
    <!-- Forçar o navegador renderizar com o modo mais recente do navegador atual (instalado na máquina do usuário). -->
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <!-- Define a: Controle do Chache, nesse caso "private" então o cache é armazenado para um usuário específico -->
    <meta http-equiv="cache-control" content="private" />
    <!-- Define a: Linguagens do Conteudo -->
    <meta http-equiv="content-language" content="pt-br, pt, en-US, fr" />
    <title>IAnes</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <!-- Import do CSS Principal com Aplicações Gerais -->
    <link rel='stylesheet' type='text/css' media='screen' href="{% static '_css/main.css' %}">

    <!-- Import do CSS Cabeçalho e Rodapé -->
    <link rel='stylesheet' type='text/css' media='screen' href="{% static '_css/head_foot.css' %}">

    <!-- Import do CSS da pagina da IAa -->
    <link rel='stylesheet' type='text/css' media='screen' href="{% static '_css/__chatIAnes.css' %}">  

</head>
<body id="corpoPagina">

    <!-- Cabeçalho -->
    <header id="header"></header>

    <main>
        <div class="chatbot_container">
            <div class="input_container">
                <div class="message_div">
                    <form action="{% url 'send_messages' %}" method="post" id="chat-form">
                        {% csrf_token %}
                        <textarea id="user_message" name="user_message" rows="1" autofocus autocomplete="off" placeholder="Descreva o seu projeto..."></textarea>
                        <div class="button_div">
                            <button type="submit" class="btn_enviar" id="btn_enviar">
                                <ion-icon id="icon_aviao" name="paper-plane-outline"></ion-icon>
                            </button>
                            <button type="button" class="btn_cancelar" id="icon_quadrado" title="Cancelar">
                                <ion-icon name="square"></ion-icon>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        

            <div class="resposta_container">
                
                <div class="resposta_content">
                    {% for message in messages %}
                    <div class="userMSG_container">
                        <div class="imgPic_user">
                            <ion-icon id="userMSG_icon" name="person"></ion-icon>
                        </div>
                        <div class="userMSG_div">
                            <p class="userMSG_p" id="userMSG_p">{{ message.user_message }}</p>
                        </div>
                    </div>

                    <div class="ianesMSG_container">
                        <div class="imgPic_ianes">
                            <img src="{% static '_midia/logotipos/ianesLogo_PretaT.png' %}" alt="" class="IAnesPic" id="IanesPic">
                        </div>
                        <div class="ianesMSG_div">
                            <p class="ianesMSG_p" id="ianesMSG_p">{{ message.bot_response }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                
            </div>

            <div class="aviso_div">
                <p>IAnes pode apresentar imprecisões. Recomenda-se a verificação de informações relevantes.</p>
            </div>
        </div>

        <button id="scrollButton">
            <ion-icon name="arrow-down"></ion-icon>
        </button>

        <div id="msgteste" onclick="enviarMensagem('teste')">
        </div>
        
    </main>
    
    <!-- Rodapé -->
    <!-- <footer id="footer"></footer> -->
    
    <!-- A Ordem de Chamar os <script> IMPORTA! -->
    <script src="{% static '_js/_idioma.js' %}"></script>
    <script src="{% static '_js/_tema.js' %}"></script>
    <script src="{% static '_js/head_foot.js' %}"></script>
    <script src="{% static '_js/main.js' %}"></script>

</body>
</html>
