<!DOCTYPE html>
<html lang="pt-BR" dir="ltr">
<head>
    {% load static %}
    <meta charset='utf-8'>
    <!-- Forçar o navegador renderizar com o modo mais recente do navegador atual (instalado na máquina do usuário). -->
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <!-- Define a: Controle do Chache, nesse caso "private" então o cache é armazenado para um usuário específico -->
    <meta http-equiv="cache-control" content="private" />
    <!-- Define a: Linguagens do Conteudo -->
    <meta http-equiv="content-language" content="pt-br, pt, en-US, fr" />
    <title>Ianes - {{ room.title }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name="csrf-token" content="{{ csrf_token }}">

    <!-- Import do CSS Principal com Aplicações Gerais -->
     <!-- Import do CSS Principal com Aplicações Gerais -->
     <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/main.css' %}">

     <!-- Import do CSS Cabeçalho e Rodapé -->
     <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/--footer.css' %}">
 
     <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/--header.css' %}">
     <!-- Import do CSS da pagina da IA -->
     <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/__chatIAnes.css' %}">  

    <!-- Biblioteca jsPDF, para baixar em pdf -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>

</head>
<body id="corpoPagina_chatIanes">

    <!-- Cabeçalho -->
    <header id="header">
        {% include 'head_foot_temp/_header.html' %}
    </header>
    <main id="mainElement_chatIAnes">

        <div id="rooms_container" class="rooms_container trans_03s-margin-left rooms_container-close">
            <div class="sideBar_header">
                <button onclick="location.href='{% url 'index' %}'" class="btn_sideBar_header btn_home" onmouseover="showTooltip('normal', 'house')" onmouseout="hideTooltip('normal', 'house')">
                    <i id="icone_sideBar_home" class='bx bxs-home icone_sideBar'></i>
                    <p class="tp_sideBar_header tp_btn_home" id="tp_ia-normal-house">Ir para o Início</p>
                </button>
                <button class="btn_sideBar_header btn_novaSala" onclick="location.href='{% url 'create_room' %}'" onmouseover="showTooltip('normal', 'newChat')" onmouseout="hideTooltip('normal', 'newChat')">
                    <i id="icone_sideBar_home" class='bx bxs-message-add icone_sideBar'></i>
                    <p class="tp_sideBar_header tp_btn_criarSalas" id="tp_ia-normal-newChat">Criar nova Sala</p>
                </button>
                <button onclick="expandSidebar()" aria-expanded="true" class="btn_sideBar_header btn_expandirSalas btn_expandirSalas-open" id="btn_expandirSalas" onmouseover="showTooltip('expandMenu', 'abrir'); showTooltip('expandMenu', 'fechar')" onmouseout="hideTooltip('expandMenu', 'abrir'); hideTooltip('expandMenu', 'fechar')">
                    <!-- <ion-icon id="icone_expandSidebar" class="icone_expandSidebar rotate90neg" name="push-outline"></ion-icon> -->
                    <i id="icone_expandSidebar" class='bx bx-menu-alt-left icone_expandSidebar rotate_flip'></i>
                    <p class="tp_expandSidebar tp_expandSidebar-open tp_expandSidebar_hide" id="tp_ia-expandMenu-abrir">Abrir painel lateral</p>
                    <p class="tp_expandSidebar tp_expandSidebar-close" id="tp_ia-expandMenu-fechar">Fechar painel lateral</p>
                </button>
            </div>
            <div class="rooms_content">
                <h1 id="texto_chatIA_salasConversas">Salas de Conversas</h1>
                <div class="rooms_section">
                    {% for room in rooms %}
                    <!-- Container dos Botões das Salas -->
                    <div class="container_btn_trocarSalas" data-url="{% url 'list_messages' room.id %}">
                        <a href="{% url 'list_messages' room.id %}" class="btn_trocarSalas" id="btn_trocarSalas_sala-{{ room.id }}" onclick="selectRoom('{{ room.id }}')">
                            <form method="POST" id="form_rename-{{ room.id }}" class="roomsNames renameForm_sendIgnore">
                                {% csrf_token %}
                                <p class="roomName" id="room_name_p-{{ room.id }}">{{ room.title }}</p>
                                <input class="rename_area" placeholder="Nova Sala" id="input_rename-{{ room.id }}" maxlength="30" value="{{ room.title }}" type="text">
                            </form>
                        </a>
                        <div class="btn_roomsEP" id="btn_roomsEP-{{ room.id }}" onclick="activeExtraOptionsBox(this)" aria-expanded="false" onmouseover="showTooltip('options', '{{ forloop.counter }}')" onmouseout="hideTooltip('options', '{{ forloop.counter }}')">
                            <i class='bx bx-dots-horizontal-rounded'></i>
                            <p class="tp_sideBar_header tp_opcoes" id="tp_ia-options-{{ forloop.counter }}">Opções</p>
                        </div>
                        <div class="roomsExtraOptions_box" id="roomsExtraOptions_box">
                            <div class="roomsExtraOptions_item" id="sideBar_download" onclick="location.href='{% url 'enviar_email' pk=pk %}'">
                                <i class='bx bxs-file-pdf download_icon'></i>
                                <p id="texto_chatIA_download" class="download_text">Download</p>
                            </div>
                            <div class="roomsExtraOptions_item" id="sideBar_rename" onclick="callRenameRoom('{{ room.id }}')">
                                <i class='bx bxs-pencil pencil_icon'></i>
                                <p id="texto_chatIA_renomar" class="pencil_text">Renomear</p>
                            </div>
                            <div onclick="askForDelete()" class="roomsExtraOptions_item" id="sideBar_excluir">
                                <i class='bx bxs-trash trash_icon'></i>
                                <p id="texto_chatIA_delete" class="trash_text">Excluir</p>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                        <p>Nenhuma sala disponível.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        
        <div id="chat_container" class="chat_container trans_03s-width chat_container-full">

            <div class="chats_section" id="chats_section">

                <!-- As salas serão adicionadas automaticamente de acordo com o usuario -->
                <!-- Por padrão, a sala 1 é sempre está disponivel -->

                <div class="chat_messages" id="chat_messages-chat-1">
                    <ul class="messages_list" id="messages_list">
                        <li class="message bot">
                            <img id="ianes_pic" src="" alt="IAnes Pic">
                            <p id="texto_chatIA_botInicialMsg">Olá! Eu sou o IAnes, estou aqui para lhe ajudar. Vamos iniciar a consulta?</p>
                        </li>
                    
                        {% for message in messages %}
                            {% if message.user_message %}
                            <li class="message user">
                                <p>{{ message.user_message.text }}</p>
                            </li>
                            {% endif %}
                            {% if message.bot_response %}
                            <li class="message bot">
                                <img id="ianes_pic" src="" alt="IAnes Pic">
                                {% if message.is_new_bot_response %}
                                    <!-- Aplicar a animação de digitação -->
                                    <p id="ianes_msg-{{ forloop.counter }}"></p>
                                    <script>
                                        var botText{{ forloop.counter }} = `{{ message.bot_response.text|escapejs }}`;
                                        var i{{ forloop.counter }} = 0;
                                        var speed = 25;

                                        function typeWriter{{ forloop.counter }}() {
                                            if (i{{ forloop.counter }} < botText{{ forloop.counter }}.length) {
                                                document.getElementById("ianes_msg-{{ forloop.counter }}").innerHTML += botText{{ forloop.counter }}.charAt(i{{ forloop.counter }});
                                                i{{ forloop.counter }}++;
                                                setTimeout(typeWriter{{ forloop.counter }}, speed);
                                            }
                                        }

                                        typeWriter{{ forloop.counter }}();
                                    </script>
                                {% else %}
                                    <!-- Exibir a mensagem completa sem animação -->
                                    <p id="ianes_msg-{{ forloop.counter }}">{{ message.bot_response.text }}</p>
                                {% endif %}
                                <!-- Resto do seu código HTML -->
                                <div class="extraOptions_IAnes">
                                    <div class="extraOptions_IAnes_Itens" onclick="copyText_chatIA('{{ forloop.counter }}')" onmouseover="showTooltip('copy', '{{ forloop.counter }}')" onmouseout="hideTooltip('copy', '{{ forloop.counter }}')">
                                        <ion-icon name="copy-outline"></ion-icon>
                                        <p class="tp_extraO_IA" id="tp_ia-copy-{{ forloop.counter }}">Copiar</p>
                                    </div>
                                </div>
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
    
                </div>

            </div>

            <form method="POST"  action="{% url 'send_message' room.id %}" id="inputTo_ianes_form" class="chat_input_form">
                {% csrf_token %}
                <textarea tabindex="1" name="user_message" maxlength="10000" rows="1" id="user_message" placeholder="Digite uma mensagem..."></textarea>
                <button type="submit" id="inputTo_ianes_enviar" class="inputTo_ianes_enviar btn_ativado" onclick="enviarMensagem()">
                    <ion-icon id="icon_aviao" name="paper-plane-outline"></ion-icon>
                    <ion-icon id="icon_quadrado" name="square"></ion-icon>
                </button>
                <!-- Contador de Caracteres -->
                <p class="ianesInput_contadorCaracteres" id="ianesInput_contadorCaracteres">0</p>
                <!-- Botão para Rolar para Baixo -->
                <div id="btn_rolarConvesa" class="btn_rolarConvesa" onclick="rolarConversa()">
                    <ion-icon name="arrow-down-outline"></ion-icon>
                </div>
            </form>
            </div>
            
            <!-- <div onclick="baixarConversaComoPDF()" class="btn_baixarPDF">
                <p id="texto_chatIA_baixarPDF">Baixar a conversa em PDF</p>
                <i class='bx bxs-file-pdf '></i>
            </div> -->
        </div>
        
    </main>
    
    <div aria-active="false" id="confSalaDel_overlay" class="confSalaDel_overlay">
        <div id="ov_confSalaDel_container" class="ov_confSalaDel_container">

            <div class="confSalaDelC_top">
                <h1 id="texto_chatIA_deleteRoom1">Excluir sala?</h1>
            </div>
            <hr>
            <div class="confSalaDelC_bot">
                <div class="confSalaDelC_bot_colum salaDelt_bcTop">
                    <p id="texto_chatIA_deleteRoom2">Isso excluirá o Chat:</p>
                    <span id="roomTitle_atual">{{ room.title }}</span>
                </div>
                <div class="confSalaDelC_bot_colum salaDelt_bcBot">
                    <p onclick="toggleOverlay_confDelete()" id="texto_chatIA_deleteRoom_cancel" class="confSalaDel_btn btn_can">Cancelar</p>
                    <a href="{% url 'delete_room' room.id %}" id="texto_chatIA_deleteRoom_delete" class="confSalaDel_btn btn_del">Excluir</a>
                </div>
            </div>

        </div>
    </div>

    <!-- Popup de confirmação de cópia -->
    <div class="confirms_popups" id="popup_copyText">
        <p id="texto_chatIA_copySucess">Texto copiado com sucesso</p>
        <div id="loading">
            <div id="loading_bar"></div>
        </div>
    </div>

    <!-- V-Libras -->
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
          <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>
      
    <!-- A Ordem de Chamar os <script> IMPORTA! -->
    <!-- Chamando o Idioma e o Tema -->
    <!-- <script src="{% static 'js/+idioma.js' %}"></script> -->
    <!-- <script src="{% static 'js/+tema.js' %}"></script> -->
    <!-- Chamando apenas do Cabeçalho -->
    <script src="{% static 'js/--header.js' %}"></script>
    <!-- Chamando apenas do Rodapé -->
    <!-- <script src="{% static 'js/--footer.js' %}"></script> -->
    <!-- Chamando o Principal DESSA pagina -->
    <script src="{% static 'js/main.js' %}"></script>
    <!-- Chamando o Principal GERAL pagina -->
    <script src="{% static 'js/--chatIAnes.js' %}"></script>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>new window.VLibras.Widget('https://vlibras.gov.br/app');</script>

</body>
</html>