<!-- IANES/Main/templates/create_chat.html -->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Sala de Chat</title>
</head>
<body>
    <h1>Criar Sala de Chat</h1>
    <form method="POST" action="{% url 'create_chat' %}">
        {% csrf_token %}
        <label for="tittle_session">Nome da Sala:</label>
        <input type="text" id="tittle_session" name="tittle_session" required>
        <button type="submit">Criar Sala</button>
    </form>
    <a href="{% url 'list_messages' %}">Ver Mensagens</a>
</body>
</html>